* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-container {
    padding-bottom: 8vh;
}

#home-page body {
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgb(32, 31, 31);
}

#title a {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 85px;
    text-decoration: none;
}

.grey-bg {
    background-color: rgb(32, 31, 31);
}

.navbar-brand {
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-decoration: none;
}

#small-title {
    font-size: 45px;
}

#big-title {
    font-size: 80px;
    display: block;
    width: 100%;
    text-align: center;
}

#nav-search {
    width: 35vw;
}

#sign-in {
    font-family: 'Electrolize', sans-serif;
    font-size: 20px;
    line-height: 24px;
    border: 2px dashed white;
    padding: 5px;
    width: 6vw;
    text-align: center;
}

#sign-in a {
    color: white;
    text-decoration: none;
}

#sign-in a:hover {
    color: rgb(110, 195, 216);
}

.electro-font {
    font-family: 'Electrolize', sans-serif;
}

#result-title {
    font-family: 'Electrolize', sans-serif;
    font-size: 30px;
}

#signin-row {
    margin-top: 20vh;
}

#footer {
    color: rgb(177, 175, 175);
    background-color: rgb(32, 31, 31);
    height: 8vh;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#footer a {
    color: rgb(177, 175, 175);
    text-decoration: none;
    margin-right: 9px;
}

.bg-black {
    background-color: black;
    border: 1px solid white;
}

.bg-red {
    background-color: black;
    border: 3px solid red;
}

.game-card {
    width: 300px;
}

.game-card,
.game-card li {
    background-color: rgb(32, 31, 31);
    color: white;
    font-family: 'Electrolize', sans-serif;
}

.fa-stack .fa-heart {
    font-size: 25px;
    color: red;
}

.fa-comment {
    font-size: 25px;
}

.fa-certificate {
    color: rgb(84, 151, 167);
    font-size: 30px;
}

.fa-circle-user {
    color: rgb(181, 179, 179);
    font-size: 34px;
}

.game-card:hover {
    color: white;
}
.profile-card {
    background-color: black;
    color: white;
    font-family: 'Electrolize', sans-serif;
}
.profile-card h1 {
    font-size: 16px;
}

.results-num {
    font-size: 12px;
    font-weight: bold;
    margin-top: -4px;
}

.details-num {
    font-size: 12px;
    font-weight: bold;
    margin-top: -1px;
}

.hover-message {
    position: relative;
    display: inline-block;
}

.hover-message .hover-text {
    visibility: hidden;
    font-size: 12px;
    width: 70px;
    top: 100%;
    left: 50%;
    margin-left: -35px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.hover-message:hover .hover-text {
    visibility: visible;
}

.hover-message .hover-text::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.my-card {
    border: 2px solid rgb(84, 151, 167);
    border-radius: 10px;
    min-height: 250px;
    background-color: rgb(32, 31, 31);
}

.detail-photo {
    border-radius: 10px;
}

.review-div {
    max-height: 200px;
    border: 2px solid rgb(129, 129, 129);
    background: black;
    padding: 20px;
    border-radius: 10px;
    margin: 7px 0px;
}

.review-div::-webkit-scrollbar {
    width: 16px;
    background-color: rgb(32, 31, 31);
}

.review-div::-webkit-scrollbar-thumb {
    background-color: rgb(7, 7, 7);
}

.review-div::-webkit-scrollbar-button {
    border: 1px solid rgb(27, 26, 26);
    background-color: rgb(11, 11, 11);
    height: 13px;
    width: 13px;
}

.review-div::-webkit-scrollbar-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent rgb(53, 52, 52) transparent;
}

::-webkit-scrollbar-button:vertical:increment {
    border-width: 8px 8px 0 8px;
    border-color: rgb(53, 52, 52) transparent transparent transparent;
}

.comment-form {
    background-color: dimgrey;
}

.comment-textarea {
    background-color: black;
    color: white;
    font-family: 'Electrolize', sans-serif;
}
